
body {
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    color: var(--white);
}

a:link {
    text-decoration: none;
    color: var(--white);
}

a:visited {
    text-decoration: none;
    color: var(--white);
}

.text0 {
    font-size: 90px;
}

@media (max-width: 800px) {
    .text0 {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .text0 {
        font-size: 40px;
    }
}


.primary-button {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 24px;
    text-align: center;
    margin: 0;
}

input[type="text"] {
    transition: border-bottom-color 0.3s ease, border-top-color 0.3s ease, border-left-color 0.3s ease, border-right-color 0.3s ease;
}

input[type="text"]:focus, input[type="text"]:hover {
    border-top-color: var(--accent);
    border-left-color: var(--accent);
    border-right-color: var(--accent);
    border-bottom-color: var(--accent);
}


h3 {
    transition: color 0.3s ease;
    cursor: pointer;
}

h3:hover {
    color: var(--accent);
}

.primary-button {
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: var(--accent);
}

.primary-button {
    transition: transform 0.3s ease;
}

.primary-button:hover {
    transform: scale(1.1);
}


.block {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10em;
    text-wrap: auto;
    z-index: 0;
}

.scroll .block > :last-child {
    padding-bottom: 0;
}

.half-block {
   margin-top: 50px;
}


.hhero-background-gradient_wrapper {
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .hhero_bg-gradient {
        width: 102.438rem;
        max-width: none;
    }
}

.hhero_bg-gradient {
    width: 130.688rem;
    max-width: none;
    height: 89.3125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hhero_bg-graphic1 {
    width: 67.125rem;
    max-width: none;
    height: 68.8125rem;
    position: absolute;
    left: -500px;
}

@media screen and (max-width: 991px), not all, not all {
    .hide, .hide-tablet {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .hide-tablet {
        display: none;
    }
}

.hhero_bg-graohic3 {
    width: 57.9375rem;
    max-width: none;
    height: 59.375rem;
    position: absolute;
    inset: auto -47% -54% auto;
}

@media screen and (max-width: 991px) {
    .hhero_dot-pattern {
        width: 90rem;
        max-width: none;
    }
}

.hhero_dot-pattern {
    width: 80rem;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hhero_bg-graphic2 {
    width: 37.5625rem;
    height: 37.5625rem;
    position: absolute;
    top: 100px;
}


.header {
    min-height: 60px;
    z-index: 2;
}

.nav-menu {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

button {
    background-color: transparent;
}

.nav-menu-button {
    font-size: 23px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-menu-button:hover {
    background-color: var(--accent);
    color: white;
}

.nav-menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: fadeIn 0.3s;
}

.nav-menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease;
}

.nav-menu-content a:hover {
    background-color: #f1f1f1;
}

.nav-menu:hover .nav-menu-content {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 35px;
    height: 30px;
    cursor: pointer;
}

.burger-menu div {
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .burger-menu div:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

input[type="checkbox"]:checked ~ .burger-menu div:nth-child(2) {
    opacity: 0;
}

input[type="checkbox"]:checked ~ .burger-menu div:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.menu {
    display: none;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 80px;
    height: 1600px;
    left: 0;
    right: 0;
    background-color: var(--black);
    padding: 0;
    margin: 0;
    animation: fadeIn 0.3s ease;
}

.menu a {
    text-decoration: none;
    width: 100%;
    text-align: end;
    font-size: 18px;
    padding: 16px 2em;
    transition: background-color 0.2s ease;
}

.menu a:hover {
    background-color: var(--gray300);
}

input[type="checkbox"]:checked ~ .menu {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.background_gradient-parent {
    z-index: -2;
    position: absolute;
    transform: translate(-50%, -50%);
}

.background_gradient {
    transform-style: preserve-3d;
    background-image: radial-gradient(circle closest-side, #b328584d, #b3285800);
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    transform: rotate(12deg) scale3d(3, 1.5, 1);
}

.user-wrapper {
    height: 120px;
    position: relative;
}

img.user {
    position: absolute;
    bottom: 0;
    left: -90px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}


.text-gradient-1{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(100.51deg, #f087ff 27.61%, #6e1fce 62.14%, rgba(110, 31, 206, .1) 113.78%);
}
.text-gradient-2{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(100.22deg, #1fcff1 30.11%, #234cb6 66.43%, rgba(35, 76, 182, .1) 120.76%);
}
.text-gradient-3{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(97.65deg, #19fb9b 11.36%, #199890 54.3%, #005f59 100.78%);
}




.phone-mockup {
    width: 300px; /* Ширина макета */
    height: 600px; /* Высота макета */
    position: relative;
    margin: 0 auto;
}

.phone-frame {
    width: 100%;
    height: 100%;
    background: url('/mfm-landing/img/ipf.png') no-repeat center;
    background-size: contain;
    padding: 60px 20px 20px; /* Отступы под экран (зависит от макета) */
    box-sizing: border-box;
}

.phone-frame iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px; /* Если нужно скругление */
}



.background_gradient.rotate-reverse {
     transform-style: preserve-3d;
    transform: rotate(-5deg) scale3d(3, 1.5, 1);
}

.background_gradient {
    transform-style: preserve-3d;
    background-image: radial-gradient(circle closest-side, #b328584d, #b3285800);
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    transform: rotate(12deg) scale3d(3, 1.5, 1);
}