<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{domain}} Token Profile | YourSite</title>
  <meta name="description" content="Detailed profile for {{domain}} token including price, analytics and blockchain data">
  <meta property="og:image" content="/storage/{{domain}}.png">
  <meta property="twitter:image" content="/storage/{{domain}}.png">
  <link href="/mfm-wallet/colors.css?v=15" rel="stylesheet">
  <link href="/mfm-wallet/style.css?v=15" rel="stylesheet">
  <link href="/mfm-wallet/style_async.css?v=15" rel="stylesheet">
  <link href="/mfm-shorts/shorts.css" rel="stylesheet">
</head>
<body class="fill col">
<div class="row align-start-center p16 text1">
  <div class="row align-center-center img32 back-gray radius-default ripple">
    <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
  </div>
  <div class="flex col align-center-center">
    <p>{{domain}}</p>
  </div>
  <div class="row align-center-center img32 back-gray radius-default ripple">
    <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
  </div>
</div>
<div class="flex col scroll align-start-center">
  <div class="flex col block">

    <div class="input-content">
      <div id="chart"
           style="width: 100%; min-height: 270px; max-height: 270px; margin: 0"></div>
      <div class="row">
        <a class="flex p16 col align-start-center ripple" href="/mfm-wallet/#openExchange={{domain}}">
          <img class="img16 img-gray" src="/mfm-wallet/img/exchange.svg">
          <p class="mt8 text2">Swap</p>
        </a>
        {{#profile.token.isDepositToken}}
        <a class="flex p16 col align-start-center ripple" href="/mfm-wallet/#openDeposit={{domain}}">
          <img class="img16 img-gray" src="/mfm-wallet/img/plus.svg">
          <p class="mt8 text2">Deposit</p>
        </a>
        {{/profile.token.isDepositToken}}
        {{#profile.token.isMiningToken}}
        <a class="flex p16 col align-start-center ripple" href="/mfm-wallet/#openMiner={{domain}}">
          <img class="img16 img-gray" src="/mfm-wallet/img/mining.svg">
          <p class="mt8 text2">Mining</p>
        </a>
        {{/profile.token.isMiningToken}}
        {{#profile.token.isCraftToken}}
        <a class="flex p16 col align-start-center ripple" href="/mfm-wallet/#openRecipe={{domain}}">
          <img class="img16 img-gray" src="/mfm-wallet/img/craft.svg">
          <p class="mt8 text2">Craft</p>
        </a>
        {{/profile.token.isCraftToken}}
        <a class="flex p16 col align-start-center ripple" href="/mfm-wallet/#openSend={{domain}}">
          <img class="img16 img-gray" src="/mfm-wallet/img/send.svg">
          <p class="mt8 text2">Send</p>
        </a>
      </div>

      {{#profile.airdrop}}
      <div class="row gap8">
        <a class="back-gray radius-default img32 p8 hover-accent" href="https://t.me/{{airdrop.telegram}}">
          <img class="img16 img-white" src="/mfm-wallet/img/telegram.svg">
        </a>
        <a class="back-gray radius-default img32 p8 hover-accent" href="/mfm-landing/docs/?doc=dev.md" target="_blank">
          <img class="img16" src="/storage/dev.png">
        </a>
        <a class="back-gray radius-default img32 p8 hover-accent" href="/mfm-landing/docs/?doc=whitepaper.md" target="_blank">
          <img class="img16" src="/storage/whitepaper.png">
        </a>
      </div>
      {{/profile.airdrop}}
    </div>

    {{#profile.token}}
    <div class="row mob-col input-content">
      <div class="flex col">
        <p class="text1">Tokenomics</p>
        <div class="row">
          <p class="flex text2">Total supply</p>
          <p>{{supply}}</p>
        </div>
        <div class="row">
          <p class="flex text2">Capitalization</p>
          <p>{{capitalization}}</p>
        </div>
        <div class="row">
          <p class="flex text2">Circulation supply</p>
          <p>{{price * profile.supply.balance}}</p>
        </div>
        <!--      {{#showDifficulty}}
              <div class="row">
                <p class="text2">Mining difficulty</p>
                <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg">
                <div class="flex"></div>
                <p>{{difficulty}}</p>
              </div>
              {{/showDifficulty}}-->
        <div class="row">
          <p class="flex text2">Created</p>
          <p>{{created}}</p>
        </div>
      </div>

      {{/profile.token}}
      {{#profile.analytics}}
      <div class="flex col">
      <div class="row">
        <p class="flex text1">Activity</p>
        <p class="text2">All / Week</p>
      </div>
      <div class="row">
        <p class="text2">Volume 24h</p>
        <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg">
        <div class="flex"></div>
        <p>{{volume24}}</p>
      </div>
      <div class="row">
        <p class="text2">Accounts</p>
        <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg">
        <div class="flex"></div>
        <p>{{accounts}}</p>
      </div>
      <div class="row">
        <p class="text2">Transactions</p>
        <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg">
        <div class="flex"></div>
        <p>{{trans}}</p>
      </div>
      </div>

      <div class="flex col">
      <div class="row">
        <p class="flex text1">Network</p>
        <p class="text2">All / Week</p>
      </div>
      <div class="row">
        <p class="text2">All tokens</p>
        <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg">
        <div class="flex"></div>
        <p>{{tokens_count}}</p>
      </div>
      <div class="row">
        <p class="text2">All accounts</p>
        <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg">
        <div class="flex"></div>
        <p>{{accounts_count}}</p>
      </div>
      <div class="row">
        <p class="text2">All transactions</p>
        <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg">
        <div class="flex"></div>
        <p>{{trans_count}}</p>
      </div>
      </div>
    </div>
    {{/profile.analytics}}

    <!--    {{#accounts}}
        <div class="row mt8 p16 radius-default back-gray ripple" href="/mfm-wallet/#copy={{address}}">
          <div class="radius-default back-black" style="{{identicon}}"></div>
          <div class="col ml16">
            <p>{{address}}</p>
          </div>
          <div class="flex col align-start-end">
            <p>{{balance}}</p>
            <p class="mt4 text2">{{price}}</p>
          </div>
        </div>
        {{/accounts}}-->

    <div class="col">
      <p class="text1 mh16 mt8">Recommended</p>
      <div class="row scroll-horizontal ph8">
        {{#recs.recommended}}
        <a class="text1 mh8 pv16" href="/mfm-landing/profile?domain={{domain}}">
          <img class="img64 row align-center-center radius-default back-gray"
               src="/storage/{{domain}}">
          <p class="mt8 text2 text-gray text-crop text-align-center" style="max-width: 64px;">
            {{domain}}
          </p>
        </a>
        {{/recs.recommended}}
      </div>
    </div>
  </div>
</div>

<script src="/mfm-wallet/utils/lightweight-charts.standalone.production.js"></script>
<script src="/mfm-wallet/base/storage"></script>
<script src="/mfm-wallet/base/wallet.js"></script>
<script src="/mfm-wallet/profile/chart/controller.js"></script>
<script>
  let chart = {}
  addChart(chart, "exchange", "{{domain}}_price", "{{domain}}_volume")
</script>
</body>
</html>
<script setup lang="ts">
</script>