<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="/mfm-wallet/logo.png">
    <title>Explorer</title>

    <script src="/angular/angular.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-messages/angular-messages.min.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <link href="/angular-material/angular-material.css" rel="stylesheet">
    <link href="/mfm-wallet/utils/angular-bugfixes.css" rel="stylesheet">

    <link href="/mfm-shorts/shorts.css" rel="stylesheet">
    <link href="/mfm-wallet/colors.css" rel="stylesheet">
    <link href="/mfm-wallet/style.css" rel="stylesheet">
    <link href="/mfm-wallet/style_async.css" rel="stylesheet">

    <script src="/mfm-wallet/utils/pnglib.js"></script>
    <script src="/mfm-wallet/utils/identicon.js"></script>
    <script src="/mfm-wallet/strings/str.js"></script>
    <script src="/mfm-wallet/base/front_utils.js"></script>
    <script src="/mfm-wallet/base/scope_utils.js"></script>
    <script src="/crypto-js/crypto-js.js"></script>
    <script src="/mfm-wallet/utils/bip39.js"></script>
    <script src="/mfm-wallet/base/storage.js"></script>
    <script src="/mfm-wallet/base/wallet.js"></script>
</head>
<body class="col" ng-app="App" ng-controller="Controller">
<div class="col align-start-center">
    <div class="row align-start-center block gap16 p16">
        <img class="img40" src="/mfm-wallet/logo.png">
        <p class="text0">Explorer</p>
    </div>
</div>
<div class="col align-start-center">
    <div class="col block gap16 input-content">
        <div class="row input-wrapper">
            <img class="img-gray300" src="/mfm-wallet/img/search.svg"/>
            <input type="text"
                   id="search_input"
                   autocomplete="off"
                   ng-model="search_text"
                   ng-change="multiSearch()"
                   placeholder=" ">
            <label for="search_input">{{str.type_transaction_hash}}</label>
            <img class="img14 img-gray" src="/mfm-wallet/img/close.svg"
                 style="position: absolute; right: 14px; top: 18px"
                 ng-show="search_text"
                 ng-click="clear()"/>
        </div>
        <ng-include ng-show="accounts && accounts.length > 0"
                    src="'/mfm-wallet/wallet/accounts.html?v=15'"></ng-include>
        <ng-include ng-show="trans && trans.length > 0" class="mh0"
                    src="'/mfm-wallet/wallet/trans.html?v=15'"></ng-include>
        <ng-include ng-hide="search_text.length < 2 || search_text.length >= 64"
                    src="'/mfm-wallet/search/tokens.html?v=15'"></ng-include>
        <div class="col back-gray radius-default" ng-show="token">
            <div class="row align-start-center p16 gap16 ripple"
                 ng-click="show_token_profile = !show_token_profile">
                <div ng-style="getLogo(token.domain)"></div>
                <p class="text1">{{formatDomain(token.domain)}}</p>
                <div class="flex"></div>
                <img class="img18 img-white" src="/mfm-wallet/img/arrow-up.svg" ng-show="show_token_profile">
                <img class="img18 img-white" src="/mfm-wallet/img/arrow-down.svg" ng-hide="show_token_profile">
            </div>
            <ng-include class="" ng-show="show_token_profile"
                        src="'/mfm-wallet/profile/analytics.html?v=15'"></ng-include>
        </div>
        <ng-include ng-show="tran"
                    class="back-gray radius-default" src="'/mfm-wallet/tran/tran.html?v=15'"></ng-include>
    </div>
</div>

<script src="/mfm-wallet/settings/version/controller.js"></script>
<script src="controller.js"></script>
<script>
    controller(start)
</script>
