<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="icon" href="/mfm-landing/logo.png">

  <script src="/mfm-wallet/utils/showdown.min.js"></script>

  <link href="/prismjs/themes/prism-okaidia.css" rel="stylesheet"/>
  <script src="/prismjs/prism.js"></script>
  <script src="/prismjs/components/prism-{{prismLang}}.min.js"></script>
  <link href="/prismjs/plugins/line-numbers/prism-line-numbers.css" rel="stylesheet"/>
  <script src="/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css">
  <script src="https://cdn.jsdelivr.net/npm/diff@5.1.0/dist/diff.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>

  <link href="/mfm-wallet/style.css" rel="stylesheet">
  <link href="/mfm-wallet/style_async.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <link href="/mfm-shorts/shorts.css" rel="stylesheet">
  <link href="/mfm-wallet/colors.css" rel="stylesheet">
</head>
<body class="fill col back-black">
<div class="flex row ">
  <div class="col sidebar mob-hide nowrap">
    <a href="/">
      <div class="row header">
        <img class="img32" src="/mfm-wallet/logo.png">
        <h2 class="ml16 m0">Vavilon Docs</h2>
      </div>
    </a>
    <div class="flex col scroll">
      <a href="?doc=api">Api</a>
      <a href="?doc=dev">For Developers</a>
      <a href="?doc=whitepaper">White Paper</a>
      <a href="?doc=roadmap">Roadmap</a>
      <a href="?doc=terms">Terms and Conditions</a>
      <a href="?doc=bugbounty">Bug Bounty Program</a>
    </div>
    <div class="row align-center-center">
      <div class="language-switcher">
        <div class="primary-button language-button"></div>
        <div class="language-menu">
          <a href="?lang=en">English</a>
          <a href="?lang=ru">Русский</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex col">
    <div class="flex scroll col">
            <pre class="line-numbers">
              <code id="code" class="language-{{prismLang}}" contenteditable="true">{{&file}}</code>
            </pre>

      <div class="divider"></div>

      <script>
        async function sendProposal() {
          const response = await fetch("/mfm-docs/proposal", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              path: "mfm-landing/docs/{{doc}}",
              user: "testUser",
              text: document.getElementById("code").innerText
            })
          });
          if (response.ok) {
            alert("Изменения успешно предложены!");
          } else {
            alert("Ошибка при отправке");
          }
        }
      </script>
      <div class="primary-button" onclick="sendProposal()">
        Предложить изменения
      </div>


      <script>
        async function likeProposal(id) {
          const response = await fetch("/mfm-docs/like", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ id, user: "testUser" })
          });
          if (response.ok) {
            location.reload();
          } else {
            alert("Ошибка при лайке");
          }
        }

        function showDiff(id, newText) {
          document.getElementById(id).innerHTML = Diff2Html.html(Diff.createTwoFilesPatch(
              "original",
              "edited",
              document.getElementById("code").innerText,
              newText,
              "",
              ""
          ), {
            drawFileList: false,
            matching: "lines",
            outputFormat: "line-by-line",
            colorScheme: 'dark'
          })
        }

        async function approveProposal(id) {
          const response = await fetch("/mfm-docs/approve", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ id })
          });
          if (response.ok) {
            location.reload();
          } else {
            alert("Ошибка при approveProposal");
          }
        }
      </script>

      <div id="proposals">
        {{#proposals}}
        <div class="proposal-card">
          <div class="row gap16">
            <div><b>Автор:</b> {{user}}</div>
            <button onclick="likeProposal('{{id}}')">👍</button>
            <div><b>Лайки:</b> {{likes}}</div>
            <div class="flex"></div>
            <button onclick="approveProposal('{{id}}')">Применить</button>
          </div>
          <div class="diffContainer nowrap-disabled" id="diff{{id}}" style="max-width:100%; overflow-x:auto;"></div>
          <pre id="hiddenFile{{id}}" style="display:none;">{{&data}}</pre>
        </div>
        {{/proposals}}
        <script>
          {{#proposals}}
          showDiff('diff{{id}}', document.getElementById("hiddenFile{{id}}").innerText);
          {{/proposals}}
        </script>
      </div>
    </div>
    <button id="scrollToTop" style="display:none;">
      <img class="img20 img-white" src="/mfm-wallet/img/arrow-up.svg">
    </button>
  </div>
  <div class="col sidebar mob-hide">
    <div class="row header search-container">
      <img src="/mfm-wallet/img/search.svg" alt="Search">
      <input type="text" id="search" placeholder="Поиск...">
    </div>
    <div id="sidebar"></div>
  </div>
</div>

<script src="controller.js">
</script>
</body>
</html>
<script setup lang="ts">
</script>